/************************* Header ******************/
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #fff;
    padding: 1rem 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: var(--box-shadow);
  }
  
  header .logo {
    color: var(--black);
    font-size: 2.5rem;
    font-weight: bolder;
    cursor:pointer;
  }
  
  header .logo i {
    color: var(--orange);
  }
  
  header .navbar a {
    font-size: 1.7rem;
    border-radius: 0.5rem;
    padding: 0.5rem 1.5rem;
    color: var(--light-color);
  }
  
  header .navbar a.active,
  header .navbar a:hover {
    color: #fff;
    background: var(--orange);
  }

  header .icons select{
    font-size: 1.5rem;
    cursor:pointer;
    text-align: center;
  }
  
  header .icons i,
  header .icons a {
    cursor: pointer;
    margin-left: 0.5rem;
    height: 4.5rem;
    line-height: 4.5rem;
    width: 4.5rem;
    text-align: center;
    font-size: 1.7rem;
    color: var(--black);
    border-radius: 50%;
    background: #eee;
  }
  
  header .icons i:hover,
  header .icons a:hover {
    color: #fff;
    background: var(--orange);
    transform: rotate(360deg);
  }
  
  header .icons #menu-bars {
    display: none;
  }
  
  /************************* Header - Search ******************/
  
  #search-form {
    position: fixed;
    top: -110%;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1004;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
  }
  
  #search-form.active {
    top: 0;
  }
  
  #search-form #search-box {
    width: 50rem;
    border-bottom: 0.1rem solid #fff;
    padding: 1rem 0;
    color: #fff;
    font-size: 3rem;
    text-transform: none;
    background: none;
  }
  
  #search-form #search-box::placeholder {
    color: #eee;
  }
  
  #search-form #search-box::-webkit-search-cancel-button {
    -webkit-appearance: none;
  }
  
  #search-form label {
    color: #fff;
    cursor: pointer;
    font-size: 3rem;
  }
  
  #search-form label:hover {
    color: var(--orange);
  }
  
  #search-form #close {
    position: absolute;
    color: #fff;
    cursor: pointer;
    top: 2rem;
    right: 3rem;
    font-size: 5rem;
  }

  @media (max-width: 768px) {
    header .icons #menu-bars {
      display: inline-block;
    }
  
    header .navbar {
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      background: #fff;
      border-top: 0.1rem solid rgba(0, 0, 0, 0.2);
      border-bottom: 0.1rem solid rgba(0, 0, 0, 0.2);
      padding: 1rem;
      clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
      display:flex;
      flex-direction: column;
    }
  
    header .navbar.active {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
  
    header .navbar a {
      width:90%;
      text-align: center;
      display: block;
      padding: 1rem;
      margin-bottom: .5em;
      font-size: 1.4rem;
      background: #eee;
    }
  
    #search-form #search-box {
      width: 90%;
      margin: 0 1rem;
    }
  }