/************************ Menu  ***********************/

.menu {
  display: flex;
  flex-direction: column;
}

.menu .menu-options {
  align-self: center;
  padding: 1rem;
  margin-bottom: 2rem;
  width: 200px;
}

.menu .menu-tabs {
  padding: 1rem 0;
  width: 100%;
  text-align: center;
  display:flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin:2rem 0;
  border-top:.3rem dashed rgba(0,0,0,.2);
  border-bottom:.3rem dashed rgba(0,0,0,.2);
}

.menu .menu-tabs .menu-tab-item {
  text-transform: capitalize;
  border: none;
  background-color: transparent;
  font-weight: bold;
  cursor: pointer;
  color: var(--pink);
  font-size: 1.3rem;
}

.menu .menu-tabs button.show {
  color: var(--green2);
  border-bottom: 1px solid var(--green2);
}

.tabs{
  display: flex;
  align-items: flex-end;
  margin-right: 1.7em;
}

.tabs img{
  width:2.8em;
  height:2.8em;
  object-fit: contain;
}

.menu .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
}

.menu .box-container .box {
  padding:1.5rem;
  background: #fff;
  border: 0.1rem solid rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
  box-shadow: var(--box-shadow);
  overflow: hidden;
  text-align: center;
  overflow: hidden;
  position: relative;
}

.menu .box-container .box .image {
  height: 28rem;
  width: 100%;
  position: relative; 
}

.menu .box-container .box .image img {
  height: 100%;
  width: 100%;
  border-radius: 0.5rem;
  object-fit: cover;
  object-position: top;
}

.menu .box-container .box .fa-heart,
.menu .box-container .box .fa-eye {
  position: absolute;
  top: 1rem;
  right: 1rem;
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  text-align: center;
  font-size: 2rem;
  background: #fff;
  border-radius: 50%;
  color: var(--black);
  cursor: pointer;
}

.menu .box-container .box .fa-eye {
  left: -15rem;
}

.menu .box-container .box .fa-heart:hover,
.menu .box-container .box .fa-eye:hover {
  background-color: var(--orange);
  color: #fff;
}

.menu .box-container .box .content {
  margin-top: 1rem;
}

.menu .box-container .box .content .priceInfo{
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu .box-container .box .content h3 {
  color: var(--black);
  font-size: 2.2rem;
  height: 20px;
}

.menu .box-container .box .content .description div .fa-arrow-left,
.menu .box-container .box .content .description div h3 {
  display: none;
}

.menu .box-container .box .content .description p {
  color: var(--light-color);
  font-size: 1.3rem;
  padding: 0.5rem 0;
  height: 48px;
  line-height: 1.2;
  overflow: hidden;
}

.menu .box-container .box .content .price {
  color: var(--dark-orange);
  font-size: 2.5rem;
  font-weight: bold;
 
}

.menu .box-container .box .content div {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.menu .box-container .menu-tab-content {
  display: none;
}

.menu .box-container .menu-tab-content.show {
  display: block;
}


.menu .box-container .box .content .priceInfo .separator{
  background-color: #ccc;
  width:1px;
  height: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
}


.menu .box-container .box .content .qtybtns{
  display: flex;
  height: auto;
}

.menu .box-container .box .content .qtybtns span{
  font-size: 1.6rem;
  margin-left: .8em;
  font-weight: bold;
  margin-right: .8em;
  color: var(--black);
}

.menu .box-container .box .content .QTY{
  margin-top: .2em;
  padding: .5rem;
  font-size: 1rem;
  color: var(--black);
  background-color: var(--black);
  cursor: pointer;
  border:none;
  font-weight: bolder;
  color:white;
  text-align: center;
  border-radius: 20px;
}





@media (max-width: 750px) {
  .menu .box-container {
    grid-template-columns: repeat(3, minmax(5rem, 1fr));
    gap: 0.5rem;
  }

  .menu .box-container .box {
    padding: 1rem;
  }

  .menu .box-container .box .image {
    width: 100%;
    height: 10em;
    
  }

  .menu .box-container .box img {
    width: 100%;
    height: 10em;
  }

  .menu .box-container .box .content h3 {
    margin-bottom: 0.2em;
    font-size: 1rem;
  }

  .menu .box-container .box .content .price,
  .menu .box-container .box .content .price span {
      font-size: 1.5rem;
  }

  .menu .box-container .box .content .description {
    height: 100%;
    max-height: 100%;
    width: 100%;
    max-width: 100%;
    position: absolute;
    padding: 1em;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--light-orange);
    display: none;
  }

  .menu .box-container .box .content .description div {
    display: flex;
    justify-content: center;
    padding:.5em;
  }

  .menu .box-container .box .content .description div .fa-arrow-left {
    color: white;
    margin-top: .2rem;
    cursor: pointer;
    display: block;
    align-self: flex-start;
    height: 2rem;
    width: 2rem;
    line-height: 1.5rem;
    font-size: 2rem;
  }

  .menu .box-container .box .content .description div h3 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: .5em;
    align-self: flex-start;
    display: block;
    color: white;
  }

  .menu .box-container .box .content .description p {
    font-size: 1rem;
    line-height: 1;
    text-align: center;
    color: var(--black);
  }

  .menu .box-container .box .content span {
    font-size: 1.2rem;
  }

  .menu .box-container .box .content .btn {
    margin-top: 0.3rem;
    font-size: 1rem;
    padding: 0.8em 1.3em;
  }

  .menu .box-container .box .fa-heart,
  .menu .box-container .box .fa-eye {
    position: absolute;
    top: .5rem;

    background: #eee;
    border-radius: 50%;
    height: 2rem;
    width: 2rem;
    line-height: 2rem;
    font-size: 1rem;
    color: var(--black);
    cursor: pointer;
  }

  .menu .box-container .box .fa-heart {
    right: .8rem;
  }

  .menu .box-container .box .fa-eye {
    left: .8rem;
  }

  .menu .box-container .box .content .QTY{
    font-size: .7rem;
  }

  .menu .box-container .box .content .qtybtns span{
    font-size: 1.4rem;
    margin-left: .3em;
    margin-right: .3em;
   
  }



}

@media (max-width: 510px) {


  .menu .box-container .box .content h3 {
    height: 20px;
  }

  .menu .box-container .box .content .btn {
    margin-top: 0.3rem;
    font-size: .9rem;
    padding: 0.8em 1em;
  }

  .menu .box-container .box .content span {
    font-size: 1rem;
  }
}
