
@font-face {
  font-family: 'DancingScript';
  src: url('../fonts/DancingScript-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Nunito';
  src: url('../fonts/Nunito-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Satisfy';
  src: url('../fonts/Satisfy-Regular.ttf') format('truetype');
}

:root {
  --green: #27ae60;
  --light-green:  rgb(106, 230, 106);
  --black: #192a56;
  --orange: #ffb674;
  --dark-orange: #fc8d67;
  --light-orange: #fec5b1;
  --green2: #369583;
  --purple: #8c74ff;
  --blue: #74bdff;
  --light-blue: #74e7ff;
  --light-pink: #ffb3e4;
  --brown: #564519;
  --pink: #ff7497;
  --light-color: #666;
  --box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
}

* {
  font-family: "Nunito", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline:none;
  border: none;
  text-transform: capitalize;
  transition: all 0.2s linear;
  
}


*::selection{
  background-color: var(--light-orange);
  color:#fff;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 5.5rem;
  scroll-behavior: smooth;
  text-decoration: none;
}

/*************** Scrollbar ****************/
html::-webkit-scrollbar{
  width:1rem;
}

html::-webkit-scrollbar-thumb{
  background: var(--dark-orange);
  border-radius: 5rem;
}

section {
  padding: 2rem 9%;
}

section:nth-child(even) {
  background: #eee;
}

/**********************************************/

.sub-heading {
  text-align: center;
  color: var(--green2);
  font-size: 2rem;
  padding-top: 1rem;
  font-family: 'Satisfy', cursive;
}

.heading {
  text-align: center;
  color: var(--black);
  font-size: 3rem;
  padding-bottom: 2rem;
  text-transform: uppercase; 
}

.btn {
  margin-top: 1rem;
  display: inline-block;
  font-size: 1.7rem;
  color: #fff;
  background: var(--blue);
  border-radius: 0.5rem;
  cursor: pointer;
  padding: 0.8rem 3rem;
}

.btn:hover {
  background: var(--orange);
  letter-spacing: 0.1rem;
}



/***************** footer ****************/

.footer .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 1.5rem;
}

.footer .box-container .box h3 {
  padding: 0.5rem 0;
  font-size: 2.5rem;
  color: var(--black);
}

.footer .box-container .box a {
  display: block;
  padding: 0.5rem 0;
  font-size: 1.5rem;
  color: var(--light-color);
}

.footer .box-container .box a:hover {
  color: var(--green);
  text-decoration: underline;
}

.footer .credit {
  text-align: center;
  border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
  font-size: 2rem;
  color: var(--black);
  padding: 0.5rem;
  padding-top: 1.5rem;
  margin-top: 1.5rem;
}

.footer .credit span {
  color: var(--green);
}

/************************ Loading *************************/
.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10000;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.loader-container img {
  width: 35rem;
}

.loader-container.fade-out {
  top: -110%;
  opacity: 0;
}

a {
  text-decoration: none;
}

/* media queries  */

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }

  header {
    padding: 1rem 2rem;
  }

  section {
    padding: 2rem;
  }
}

@media (max-width: 768px) {

  .home .home-slider .slide .content h3 {
    font-size: 5rem;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }

}
