/*=======================================================
   main-content inner design like card start
   ===============================================*/


   .card {
    margin: 10px 0;
}

.card {
    border-radius: 0px!important;
}

.card {
    display: inline-block;
    position: relative;
	border:none!important;
    width: 100%;
    margin:15px 0;
    box-shadow: 0 1px 2px rgb(0 0 0 / 8%);
    border-radius: 6px;
    color: rgba(0,0,0, 0.87);
    background: #fff;
}

.card-stats .card-header {
    float: left;
    text-align: center;
}

.card .card-header {
    padding: 15px 20px 0;
    z-index: 3;
	background-color:#fff!important;
	border-bottom:none;
}

.card .card-footer .stats .material-icons {
    position: relative;
    top: 4px;
    font-size: 16px;
}

.card-stats .card-header span {
    font-size: 36px;
    line-height: 56px;
    width: 56px;
    height: 56px;
}

.icon.icon-warning {
    color: #ff9800;
}

.icon.icon-rose {
    color: #e91e63;
}
.icon.icon-success {
    color: #4caf50;
}
.icon.icon-info {
    color: #00bcd4;
}
.card .card-footer {
    margin: 0 7px 0px;
    padding-top: 10px;
	background-color:#fff;
    border-top: 1px solid #eeeeee;
}

.text-info {
    color: #03A9F4!important;
}

.card-stats .card-content {
    text-align: right;
    padding-top: 10px;
}

.card .card-content {
    padding: 15px 20px;
    position: relative;
}

.card .card-content .category {
    margin-bottom: 0;
}
.card .category:not([class*="text-"]) {
    color: #555555;
    font-size: 14px;
    font-weight: 400;
}

.card .card-title:not(.card-calendar .card-title) {
    margin-top: 0;
    margin-bottom: 5px;
}

.card-stats .card-title {
    margin: 0;
}

.card .card-footer .stats {
    line-height: 22px;
    color: #555555;
    font-size: 15px;
}

.card .card-footer div {
    display: inline-block;
}

.card .card-header-text h4{
    margin-top: 0;
    margin-bottom: 3px;
	font-size:19px;
    font-weight: 400;
	color: #222222;
    text-decoration: none;
	
}

.table > thead > tr > th {
    border-bottom-width: 1px;
    font-size: 16px;
    font-weight: 400;
}


.card .card-content {
    padding: 15px 20px;
    position: relative;
}


