#sidebar {
    position:fixed;
	height:100vh!important;
    top: 0;
    bottom: 0;
    left: 0;
    z-index:11;
    width: 260px;
	overflow:auto;
	transition:all 0.3s ;
    background: #FFFFFF;
    box-shadow: 0 10px 30px -12px rgb(0 0 0 / 42%), 0 4px 25px 0px rgb(0 0 0 / 12%), 0 8px 10px -5px rgb(0 0 0 / 20%);
}


#sidebar::-webkit-scrollbar{
	width:5px;
	border-radius:10px;
	background-color:#eee;
	display:none;
}
#sidebar::-webkit-scrollbar-thumbs{
	width:5px;
	border-radius:10px;
	background-color:#333;
	display:none;
}


#sidebar:hover::-webkit-scrollbar{
	display:block;
}
#sidebar:hover::-webkit-scrollbar-thumbs{
	display:block;
}

#sidebar .sidebar-header {
    padding:20px;
	background-color:#ffffff;
	border-bottom:1px solid #eee;
}

.sidebar-header h3{
	color:#333;
	font-size:17px;
	margin:0px;
	text-transform:uppercase;
	transition:all 0.5s ease;
	font-weight:600;
}

.sidebar-header h3 img{
	width:45px;
	margin-right:10px;
}

#sidebar ul li{
	padding:2px 7px;
}

#sidebar ul li.active>a{
    color: #333;
    background-color: rgba(200, 200, 200, 0.2);
}

#sidebar ul li a:hover{
    color: #333;
    background-color: rgba(200, 200, 200, 0.2);
}

.dropdown-toggle::after {
    position: absolute;
    right: 10px;
    top: 23px;
}

#sidebar ul li.drodown{
	position:sticky;
}


#sidebar ul.components {    
    padding: 20px 0;
}

#sidebar ul li a {
    padding: 10px;
	line-height: 30px;
	border-radius:5px;
    font-size: 15px;
	position:relative;
    font-weight: 400;
    display: block;
}

#sidebar ul li a span{
	text-transform:capitalize;
	display:inline-block;
}

#sidebar ul li a i {
    position: relative;
    margin-right: 10px;
    top: 5px;
	color: #555555;
    margin-left: 10px;
}

#sidebar.show-nav,.body-overlay.show-nav{
	transform:translatex(0%);
	opacity:1;
	display:block;
	visibility:visible;
	z-index:15;
}

