#content {
	position: relative;
    transition: all 0.3s;
	background-color: #EEEEEE;
}

.top-navbar{
	width:100%;
	z-index:9;
	position:relative;
}


.main-content{
	padding:10px 20px 0px 20px;
	position: relative;
    width: 100%;
}



.navbar{
    background-color: #2196F3;
    color: #FFFFFF;
}

.navbar-brand {
    color: #FFFFFF;
}

.navbar button{
	background-color:transparent;
	border:none;
}
.navbar button span{
	color:#fff;
}

#sidebarCollapse{
	border-radius:50%;
	width:45px;
	height:45px;
	text-align:center;
	line-height:45px;
	margin-right:20px;
	border:none;
    color: #FFFFFF;
    background-color: rgba(0, 0, 0, 0.09);
}

#sidebarCollapse span {
    margin: 9px;
    padding: 0px;
}



.navbar-nav > li.active{
   color: #FFFFFF;
   border-radius:4px;
    background-color: rgba(0, 0, 0, 0.08);  
 }

.navbar-nav > li > a {
    color: #FFFFFF;
}


.navbar .notification {
	 position: absolute;
    top: 5px;
    right: 10px;
	display: block;
    font-size: 9px;
    border: 0px;
    font-size: 10px;
    background: #d9534f;
    min-width: 15px;
	 text-align: center;
    padding: 1px 5px;
    height: 15px;
    border-radius: 2px;
    line-height: 14px;
}


 .navbar-nav > li.show .dropdown-menu {
    transform: translate3d(0, 0, 0);
	opacity:1;
	visibility:visible;
}


.dropdown-menu li > a {
    font-size: 13px;
    padding: 10px 20px;
    margin: 0 5px;
    border-radius: 2px;
	font-weight: 400;
    transition: all 150ms linear;
}



.navbar-nav > .active > a:focus  {
    color: #FFFFFF;
    background-color: rgba(0, 0, 0, 0.08);
}


.navbar-nav li a   {
    position: relative;
    display: block;
    padding: 10px 15px!important;
    cursor: pointer;
}